:root {
	--bg1: #161B1B;
    --bg2: #202828;
    --bg3: #283232;
	--bg4: #394848;
    --red:     #A35C5C;
    --green:   #76A66A;
    --yellow:  #C3AE69;
    --blue:    #5A879A;
    --magenta: #965CA3;
    --cyan:    #5CA38A;
    --white:   #D2C9BE;
	--orange:  #C39269;
}
