/*
Resources:
chrome://browser/skin/browser.css
chrome://browser/content/browser.css
*/

@import "colors.css";



:root {
	--lwt-toolbarbutton-icon-fill: var(--white) !important;
	--arrowpanel-background: var(--bg2) !important;
	--arrowpanel-border-color: var(--bg2) !important;
	--urlbar-separator-color: var(--bg4) !important;
	--tab-loading-fill: var(--blue) !important;
	--tab-border-radius: 0px !important
}

* { font-family: "JetBrains Mono" }

image
{ color: var(--white) !important }

/* Tabs */
.tab-icon-image,
.close-icon,
.tab-text
{ color: var(--white) !important }


.tab-background[selected="true"]
{ box-shadow: none !important }

.close-icon:hover
{ background: var(--bg4) !important }

#tabbrowser-tabs, .tabbrowser-tab {
	background-color: var(--bg1) !important;
	background-image: none !important;
	padding: 0px 0px 0px 0px !important;
}

.tab-background { /* tab background */
	background-color: var(--bg2) !important;
	background-image: none !important;
	margin: 0px 0px 0px 0px !important;
}

.tabbrowser-tab[selected="true"] {
	border-left: 1px solid var(--bg1) !important;
	border-right: 1px solid var(--bg1) !important;
}

.tab-background[selected=true] { /* Selected tab background */
  background-color: var(--bg3) !important;
  background-image: none !important;
}

.tab-line /* tab line */
{ background: var(--bg2) !important; }

.tab-line[selected=true] /* selected tab line */
{ background: var(--cyan) !important; }

image.tab-close-button:hover
{ background: var(--bg3) !important }

image.tab-close-button[selected="true"]:hover
{ background: var(--bg4) !important }

#tabs-newtab-button:hover image
{ background: var(--bg2) !important }

/* navbar, toolbar, and urlbar */
#urlbar-search-mode-indicator-title
{ color: var(--white) !important }

#urlbar-search-mode-indicator-close
{ fill: var(--white) !important }

#urlbar-search-mode-indicator
{ background: var(--bg2) !important }

#navigator-toolbox
{ border: none !important }

#star-button
{ color: var(--white) !important }

image[label="Back"] {
	background: none !important;
	border: none !important;
}

#nav-bar, #PersonalToolbar { /* The thing below the tabs (nav-bar), and where the bookmarks are (PersonalToolbar) */
	background-color: var(--bg3) !important;
	background-image: none !important
}

#urlbar-background {
	background-color: var(--bg1) !important;
	border-color: var(--bg3) !important;
}

#urlbar-input-container
{ border-color: var(--bg3) !important; }

#urlbar-input
{ color: var(--white) !important }

.urlbarView-row-inner
{ color: var(--white) !important }

.urlbarView-row[aria-selected="true"] .urlbarView-row-inner,
.urlbarView-row:hover .urlbarView-row-inner,
.urlbarView-row-inner:hover
{ background: var(--bg2) !important }

.urlbarView-action
{ color: var(--green) !important }

#identity-box:hover
{ background: var(--bg2) !important }

#identity-icon,
#identity-icon-label
{ color: var(--white) !important }


.search-one-offs
{ display: none !important }

/* Unloaded Page */
browser[type="content-primary"],
browser[type="content"]
{ background: var(--bg1) !important; }


/* Menu (including right click) */
menupopup menuitem,
menupopup menu
{
	color: var(--white) !important;
	background: var(--bg2) !important;
	-moz-appearance: none !important; /* Needed for whatever reason, I hate css */
	padding: 5px 5px 5px 5px !important;
}

menupopup menuitem[_moz-menuactive="true"],
menupopup menu[_moz-menuactive="true"]
{
	background: var(--bg3) !important;
	-moz-appearance: none !important; /* Needed for whatever reason, I hate css */
}

menupopup > menuseparator
{ display: none !important; }

#context-navigation menuitem hbox .menu-iconic-icon
{ fill: var(--white) !important }

#nav-bar-customization-target toolbarbutton[checked="true"] stack,
#nav-bar-customization-target toolbarbutton[checked="true"] image,
#nav-bar-customization-target toolbarbutton[open="true"] stack,
#nav-bar-customization-target toolbarbutton[open="true"] image,
#nav-bar-overflow-button[open="true"] image,
#PanelUI-menu-button[open="true"] stack
{ background: var(--bg4) !important }

#nav-bar-customization-target toolbarbutton:hover stack,
#nav-bar-customization-target toolbarbutton:hover image,
#nav-bar-overflow-button:hover image,
#PanelUI-menu-button:hover stack
{ background: var(--bg4) !important }

toolbarbutton[label="Firefox Account"]:hover image
{ background: none !important }

toolbaritem#appMenu-library-recentHighlights
{ background: var(--bg2) !important }

.panel-subview-body
{ background: var(--bg2) !important; color: var(--white) !important }

.panel-subview-body *:hover
{ background: var(--bg3) !important }


/* Side Bar (History Panel) */
.sidebar-placesTreechildren,
#sidebar-search-container,
#sidebar-box { background: var(--bg2) !important; color: var(--white) !important }

.tree-rows scrollbar
{ scrollbar-color: var(--bg3) var(--bg2) !important }

#sidebar-splitter
{ display: none !important }


/* Find Word */
findbar
{ background: var(--bg2) !important }

.findbar-textbox {
	background: var(--bg1) !important;
	border-color: var(--bg2) !important;
	color: var(--white) !important;
}

.findbar-textbox:focus
{ border-color: var(--cyan) !important }


.findbar-container toolbarbutton {
	background: var(--bg2) !important;
	border: none !important;
	color: var(--white) !important;
}

.findbar-container toolbarbutton:hover,
.findbar-container toolbarbutton[checked="true"],
.findbar-container toolbarbutton:hover image,
.findbar-container toolbarbutton[checked="true"] image
{ background: var(--bg3) !important; }

#overflowMenu-customize-button
{ color: var(--white) !important }

#overflowMenu-customize-button:hover
{ background: var(--bg3) !important }

#widget-overflow-list
{ background: var(--bg2) !important }

#widget-overflow-list toolbarbutton:hover
{ background: var(--bg3) !important }

.findbar-closebutton:hover
{ background: var(--bg2) !important; }

.findbar-closebutton:hover image
{ background: var(--bg3) !important; }

#personal-toolbar-empty-description
{ color: var(--white) !important }

#personal-toolbar-empty-description *
{ color: var(--blue) !important }

#OtherBookmarks
{ color: var(--white) !important }

.PanelUI-subView box h1 span
{ color: var(--white) !important }

#appMenu-fxa-label2
{ background: var(--bg3) !important }

#appMenu-fxa-label2:hover
{ background: var(--bg4) !important }

#appMenu-fxa-status2:hover,
#appMenu-fxa-text:hover
{ background: var(--bg2) !important }

toolbarbutton .toolbarbutton-text
{ color: var(--white) !important }

/* Title Bar */
#titlebar
{ background: var(--bg1) !important }
