/*
Resources:
chrome://browser/skin/browser.css
chrome://browser/content/browser.css
*/

@import "colors.css";



:root {
	--lwt-toolbarbutton-icon-fill: var(--white) !important;
	--arrowpanel-background: var(--bg2) !important;
	--arrowpanel-border-color: var(--bg2) !important;
	--urlbar-separator-color: var(--bg4) !important;
}

* { font-family: "JetBrains Mono" }

image
{ color: var(--white) !important }

/* Tabs */
.tab-icon-image,
.close-icon,
.tab-text
{ color: var(--white) !important }

.close-icon:hover
{ background: var(--bg4) }

#tabbrowser-tabs, .tabbrowser-tab {
	background-color: var(--bg1) !important;
	background-image: none !important;
}

.tab-background { /* tab background */
  background-color: var(--bg2) !important;
  background-image: none !important;
}
.tab-background[selected=true] { /* Selected tab background */
  background-color: var(--bg3) !important;
  background-image: none !important;
}

.tab-line /* tab line */
{ background-color: var(--bg2) !important; }

.tab-line[selected=true] /* selected tab line */
{ background-color: var(--cyan) !important; }


/* navbar, toolbar, and urlbar */

#navigator-toolbox
{ border: none !important }

#star-button
{ color: var(--white) !important }

image[label="Back"] {
	background: none !important;
	border: none !important;
}

#nav-bar, #PersonalToolbar { /* The thing below the tabs (nav-bar), and where the bookmarks are (PersonalToolbar) */
	background-color: var(--bg3) !important;
	background-image: none !important
}

#urlbar-background {
	background-color: var(--bg1) !important;
	border-color: var(--bg3) !important;
}

#urlbar-input-container
{ border-color: var(--bg3) !important; }

#urlbar-input
{ color: var(--white) !important }

.urlbarView-row-inner
{ color: var(--white) !important }

.urlbarView-row[aria-selected="true"] .urlbarView-row-inner,
.urlbarView-row:hover .urlbarView-row-inner,
.urlbarView-row-inner:hover
{ background: var(--bg2) !important }

.urlbarView-action
{ color: var(--green) !important }

#identity-box:hover
{ background: var(--bg2) !important }

#identity-icon,
#identity-icon-label
{ color: var(--white) !important }


.search-one-offs
{ display: none !important }

/* Unloaded Page */
browser[type="content-primary"],
browser[type="content"]
{ background: var(--bg1) !important; }


/* Menu (including right click) */
menupopup menuitem,
menupopup menu
{
	color: var(--white) !important;
	background: var(--bg2) !important;
	-moz-appearance: none !important; /* Needed for whatever reason, I hate css */
	padding: 5px 5px 5px 5px !important;
}

menupopup menuitem[_moz-menuactive="true"],
menupopup menu[_moz-menuactive="true"]
{
	background: var(--bg3) !important;
	-moz-appearance: none !important; /* Needed for whatever reason, I hate css */
}

menupopup > menuseparator
{ display: none !important; }

#context-navigation menuitem hbox .menu-iconic-icon
{ fill: var(--white) !important }

toolbarbutton[checked="true"] stack,
toolbarbutton[checked="true"] image,
toolbarbutton[open="true"] stack,
toolbarbutton[open="true"] image
{ background: var(--bg4) !important }


toolbarbutton:hover stack,
toolbarbutton:hover image
{ background: var(--bg4) !important }

toolbarbutton[label="Firefox Account"]:hover image
{ background: none !important }

toolbaritem#appMenu-library-recentHighlights
{ background: var(--bg2) !important }

.panel-subview-body
{ background: var(--bg2) !important; color: var(--white) !important }

.panel-subview-body *:hover
{ background: var(--bg3) !important }


/* Side Bar (History Panel) */
.sidebar-placesTreechildren,
#sidebar-search-container,
#sidebar-box { background: var(--bg2) !important; color: var(--white) !important }

.tree-rows scrollbar
{ scrollbar-color: var(--bg3) var(--bg2) !important }

#sidebar-splitter
{ display: none !important }
